
.DS_Store
PainTracker/obj/Debug
PainTracker/.DS_Store
PainTracker/obj/Debug/netcoreapp2.2/PainTracker.csproj.FileListAbsolute.txt
.vs/config/applicationhost.config
.vs/PainTracker/v15/.suo
.vs/PainTracker/v15/Server/sqlite3/storage.ide
.vs/PainTracker/v15/Server/sqlite3/storage.ide-shm
.vs/PainTracker/v15/Server/sqlite3/storage.ide-wal
PainTracker/.DS_Store
PainTracker/bin/Debug/netcoreapp2.2/PainTracker.dll
PainTracker/bin/Debug/netcoreapp2.2/PainTracker.pdb
PainTracker/bin/Debug/netcoreapp2.2/PainTracker.runtimeconfig.dev.json
PainTracker/bin/Debug/netcoreapp2.2/PainTracker.Views.dll
PainTracker/bin/Debug/netcoreapp2.2/PainTracker.Views.pdb
PainTracker/obj/Debug/netcoreapp2.2/PainTracker.assets.cache
PainTracker/obj/Debug/netcoreapp2.2/PainTracker.csproj.CoreCompileInputs.cache
PainTracker/obj/Debug/netcoreapp2.2/PainTracker.csproj.FileListAbsolute.txt
PainTracker/obj/Debug/netcoreapp2.2/PainTracker.csprojAssemblyReference.cache
PainTracker/obj/Debug/netcoreapp2.2/PainTracker.dll
PainTracker/obj/Debug/netcoreapp2.2/PainTracker.pdb
PainTracker/obj/Debug/netcoreapp2.2/PainTracker.RazorCoreGenerate.cache
PainTracker/obj/Debug/netcoreapp2.2/PainTracker.Views.dll
PainTracker/obj/Debug/netcoreapp2.2/PainTracker.Views.pdb
PainTracker/obj/Debug/netcoreapp2.2/Razor/Views/_ViewImports.g.cshtml.cs
PainTracker/obj/Debug/netcoreapp2.2/Razor/Views/_ViewStart.g.cshtml.cs
PainTracker/obj/Debug/netcoreapp2.2/Razor/Views/Home/About.g.cshtml.cs
PainTracker/obj/Debug/netcoreapp2.2/Razor/Views/Home/Contact.g.cshtml.cs
PainTracker/obj/Debug/netcoreapp2.2/Razor/Views/Home/Index.g.cshtml.cs
PainTracker/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
PainTracker/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Header.g.cshtml.cs
PainTracker/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.g.cshtml.cs
PainTracker/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_LeftAside.g.cshtml.cs
PainTracker/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_QuickSideBar.g.cshtml.cs
PainTracker/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
PainTracker/obj/Debug/netcoreapp2.2/Razor/Views/Shared/Error.g.cshtml.cs
PainTracker/obj/Debug/netcoreapp2.2/Razor/Views/Tours/Confirm.g.cshtml.cs
PainTracker/obj/Debug/netcoreapp2.2/Razor/Views/Tours/Create.g.cshtml.cs
PainTracker/obj/Debug/netcoreapp2.2/Razor/Views/Tours/Delete.g.cshtml.cs
PainTracker/obj/Debug/netcoreapp2.2/Razor/Views/Tours/Details.g.cshtml.cs
PainTracker/obj/Debug/netcoreapp2.2/Razor/Views/Tours/Edit.g.cshtml.cs
PainTracker/obj/Debug/netcoreapp2.2/Razor/Views/Tours/Index.g.cshtml.cs
PainTracker/obj/PainTracker.csproj.nuget.cache
PainTracker/obj/PainTracker.csproj.nuget.g.props
PainTracker/obj/project.assets.json
